<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amagesoftware.vestibio" >

    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:name="com.amagesoftware.vestibio.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"

        tools:replace="icon,theme">


        <activity
            android:name="com.amagesoftware.vestibio.activities.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amagesoftware.vestibio.activities.SessionActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/session"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.amagesoftware.vestibio.fragments.DonateFragment"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppDonateTheme"
            android:screenOrientation="portrait"
            >
        </activity>
        <service android:name="com.amagesoftware.vestibio.services.MetronomeService"></service>
    </application>

</manifest>
